@import "../abstracts/colors";
@import "../abstracts/fonts";


@mixin design($font: $font-pt-sans, $fontSize: 12px, $fontWeight: 400, $lineHeight: 18px, $color: $date-color) {
    font-family: $font-pt-sans;
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    color: $color;
  }